\env
tamendoca-project/Assets
tamendoca-project/Library
tamendoca-project/Logs
tamendoca-project/Packages
tamendoca-project/ProjectSettings
tamendoca-project/Temp
tamendoca-project/UserSettings
tamendoca-project