\env
tamendoca-project-unity/Assets
tamendoca-project-unity/Library
tamendoca-project-unity/Logs
tamendoca-project-unity/Packages
tamendoca-project-unity/ProjectSettings
tamendoca-project-unity/Temp
tamendoca-project-unity/UserSettings
tamendoca-project-unity